    .column {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 34px;
        background-color: #000;
        height: 100%;
        min-height: 594px;
        z-index: 10001;
        visibility: visible;
        left: auto;
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-align: center;
        li {
            position: relative;
        }
        .column-top1 {
            cursor: pointer;
            margin-top: 28px;
            width: 34px;
            a {
                display: block;
                color: #fff;
                text-decoration: none;
            }
            .column-gw {
                margin: 8px auto;
                font-size: 12px;
                text-align: center;
                width: 20px;
            }
            em {
                display: block;
                padding-bottom: 6px;
                color: red;
            }
        }
        .ct1 {
            cursor: pointer;
            width: 34px;
            height: 42px;
            line-height: 42px;
            left: 0;
            a {
                display: block;
                color: #ddd;
                text-decoration: none;
            }
        }
        .icon-top {
            width: 34px;
            height: 42px;
            background: url(//z5.tuanimg.com/v2/core/img/sidePanelIconsNew.png) no-repeat -554px 0;
        }
        .column-intro {
            position: absolute;
            display: none;
            background: tomato;
            top: 0;
            right: 0;
            a {
                display: block;
                width: 100px;
                height: 42px;
            }
            &:nth-of-type(7) {
                a {
                    display: block;
                    width: 106px;
                    height: 144px;
                    background: url(//status.tuanimg.com/statics/zhe/components/sidebar/img/side_two_dimension.png) no-repeat 0 0;
                    margin-right: -2px;
                }
            }
        }
        // .column-btn {
        //     display: none;
        // }
    }
    
    .activecolor {
        background: tomato;
    }