%liststyle {
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    font-size: $font14;
}

%sidebar-rStyle {
    width: 113px;
    height: 93px;
}

%sidebar-r-aStyle {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: red;
    text-decoration: none;
}

%sidebar-r-spanStyle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 25px;
    cursor: pointer;
}

.wrap {
    width: $pagewidth;
    background: url("https://z2.tuanimg.com/imagev2/site/1907x1080.7f94aef280e09f8b0023276b578b3925.jpg") center top;
}

.sidebar {
    position: relative;
    @extend %size;
    height: 300px;
    .sidebar-l {
        float: left;
        width: 136px;
        li {
            @extend %liststyle;
            padding-left: 30px;
            &>:nth-child(even) {
                padding-left: 14px;
            }
        }
        .sidebar-la {
            @extend %liststyle;
            padding: 0 3px 0 6px;
            span {
                padding-left: 3px;
            }
        }
        .sidebar-lb {
            @extend .sidebar-la;
        }
        a {
            color: #333;
            text-decoration: none;
            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
    .sidebar-c {
        position: relative;
        float: left;
        width: 951px;
        height: 300px;
        overflow: hidden;
        .sidebar-cl {
            position: absolute;
            display: none;
            width: 370px;
            height: 303px;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: #fff;
            box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
            padding-left: 13px;
            transition: top 0.3s ease;
            .cartlist {
                display: none;
                .cartlist-l {
                    float: left;
                    a {
                        font-size: $font12;
                        color: red;
                        text-decoration: none;
                    }
                    ul {
                        width: 240px;
                        li {
                            float: left;
                            margin: 6px;
                            padding: 4px;
                        }
                    }
                }
                .cartlist-r {
                    float: right;
                    width: 115px;
                    height: 282px;
                }
            }
            .cartlist-r-t {
                width: 115px;
                height: 88px;
                margin-bottom: 5px;
                img {
                    width: 115px;
                }
            }
            .cartlist-r-c {
                width: 115px;
                height: 90px;
                margin-bottom: 5px;
                img {
                    width: 115px;
                }
            }
            .cartlist-r-b {
                width: 115px;
                height: 90px;
                img {
                    width: 115px;
                }
            }
            h3 {
                width: 240px;
                padding-top: 8px;
                padding-bottom: 8px;
                color: red;
                border-bottom: 1px solid #ccc;
            }
        }
        .sidebarpic {
            li {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        ol {
            position: absolute;
            bottom: 20px;
            left: 50%;
            margin-left: -40px;
            height: 16px;
            z-index: 3;
            li {
                display: block;
                float: left;
                margin-right: 5px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #fff;
            }
            .active {
                background-color: red;
            }
        }
    }
    .sidebar-r {
        float: left;
        width: 113px;
        height: 300px;
        background: #fff;
        .sidebar-r-t {
            @extend %sidebar-rStyle;
            a {
                @extend %sidebar-r-aStyle;
                span {
                    @extend %sidebar-r-spanStyle;
                    background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) no-repeat -231px -34px;
                }
            }
        }
        .sidebar-r-c {
            @extend %sidebar-rStyle;
            a {
                @extend %sidebar-r-aStyle;
                span {
                    @extend %sidebar-r-spanStyle;
                    background: url(//status.tuanimg.com/statics/zhe/common/img/index-common.png) no-repeat -231px -82px;
                }
            }
        }
        .sidebar-r-f {
            @extend %sidebar-rStyle;
            a {
                @extend %sidebar-r-aStyle;
                span {
                    @extend %sidebar-r-spanStyle;
                }
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}