html {
    overflow-x: hidden;
}

$pagewidth: 100%;
$boxwidth: 1200px;
$font12:12px;
$font14:14px;
$font16:16px;
%size {
    width: $boxwidth;
    margin: 0 auto 30px;
}

%banner-img-style {
    li {
        float: left;
        width: 232px;
        height: 159px;
        margin-right: 10px;
        float: left;
        img {
            width: 100%;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@import "top";
@import "banner";
@import "header";
@import "nav";
@import "sidebar";
@import "main";
@import "banner-footer";
@import "footer";
@import "column";