.short {
    width: 1190px;
    height: 45px;
    padding: 10px 0 0 10px;
    margin: 0 auto;
}

.short button {
    margin: 6px 6px 6px 0;
    background: #fff;
    padding: 6px;
    outline: 0;
    cursor: pointer;
    border: 1px solid #ccc;
}

.short button:hover {
    box-shadow: 0 0 4px #ddd;
    color: red;
}

.list {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.list li {
    width: 200px;
    padding: 10px;
    float: left;
    margin: 8px;
    border: 1px solid #ccc;
    height: 264px;
    position: relative;
}

.list li:hover {
    box-shadow: 0 0 10px #333;
}

.list li p {
    width: 200px;
    line-height: 34px;
    margin-bottom: 6px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list li img {
    width: 200px;
    height: 200px;
    display: block;
}

.list li span {
    display: block;
    font-size: 16px;
    color: red;
}